{% block form %}
  {{ parent() }}
  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-col gap-2 p-4">
      {{ component('DeschutesDesignGroupLLC\\SocialLogin\\Perscom') }}
      {{ component('DeschutesDesignGroupLLC\\SocialLogin\\Discord') }}
      {{ component('DeschutesDesignGroupLLC\\SocialLogin\\Google') }}
    </div>
  </div>
{% endblock %}
